{% extends 'shop/base.html' %}

{% block content %}


<meta http-equiv="refresh" content="7;url={% url 'shop:index' %}" />

<div class="container mt-5 text-center">
    <div class="alert alert-info">
        <h1>Check Your Inbox!</h1>
        <p>We have emailed you instructions for setting your password.</p>
        <p class="text-muted small">You will be redirected to the homepage in 5 seconds...</p>
    </div>
    
    <a href="{% url 'shop:index' %}" class="btn btn-outline-primary">Return to Homepage Now</a>
</div> 
{% endblock %}